{% load static %}

<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>StyleBarber</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <![endif]-->




</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="{% static 'images/lode-img.png' %}" alt="" />
		  </div>
		  <span class="loading" data-name="Loading" >SMBarber Loading</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/services">Our Services</a></li>
						<li class="nav-item"><a class="nav-link" href="/saloons">Our Saloons</a></li>
						<li class="nav-item active"><a class="nav-link" href="/appointment">Appointment</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="all-page-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="title title-1 text-center">
							<div class="much">
								<img src="{% static 'css/uploads/mustache.png' %}" alt=""/>
							</div>
							
							<div class="title--heading">
								<h1>Appointment</h1>
							</div>
							<div class="clearfix"></div>
							
							<ol class="breadcrumb">
								<li><a href="/index">Home</a></li>
								<li class="active">Appointment</li>
							</ol>
						</div>
						<!-- .title end -->
					</div>
				</div>
			</div>
		</div><!-- end all-page-bar -->

		<div id="appointment" class="section wbform">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">

						<h3>Book now</h3>
					</div>
				</div><!-- end title -->

				<div class="row">
					<div class="col-lg-12">
						<div class="contact_form" id="userform">
							<form action="/adduser/" method="POST" id="form" >
                            		{% csrf_token %}
									{% for shops in shop %}
								<fieldset class="row row-fluid">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="hidden" name="id" value="{{shops.id}}">
										<input type="hidden" name="address" value="{{shops.address}}">
										<input type="text" name="fname" class="form-control" placeholder=" First Name" required>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="text" name="lname" class="form-control" placeholder="Last Name" required>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="email" name="email" id="id_email"  class="form-control" placeholder="Your Email" required>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="text" name="phone" class="form-control" placeholder="Your Phone" required>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="text" name="uname" id="id_username" class="form-control " placeholder="User Name" required>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="password" name="pswd" class="form-control" placeholder="Password"
											   pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
											   title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." required>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<input type="date"  class="form-controll" placeholder="Enter the date" name="date" required>
									</div>
									<br>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<textarea class="form-control" name="comments" rows="6" placeholder="Give us more details.."></textarea>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="text" name="sname" class="form-control" value="{{shops.shopname}}" readonly>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										  <select name="times" class="form-control">
										  <option value=0>Select your Preferred time:</option>
										  {% for times in time %}
										  <option value="{{times.time}}" >{{times.time}}</option>
										  {% endfor %}
										  </select>
										  <br>
									</div>
                                    <div>
                                      <input type="submit" class="btn btn-success" value="GET APPOINTMENT" >
                                    </div>
								</fieldset>
								{% endfor %}
							</form>
						</div>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->

		<div id="testimonials" class="parallax section db parallax-inner-bg">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
						<small>LET'S SEE OUR TESTIMONIALS</small>
						<h3>HAPPY TESTIMONIALS</h3>
					</div>
				</div><!-- end title -->

				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="testi-carousel owl-carousel owl-theme">                                
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'css/uploads/testi_01.png' %}" alt="" class="img-responsive alignright">
									<h4>James Fernando <small>- Manager of Racer</small></h4>
								</div>
								<div class="desc">
									<h3>Wonderful Support!</h3>
									<p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_02.png' %}" alt="" class="img-responsive alignright">
									<h4>Jacques Philips <small>- Designer</small></h4>
								</div>
								<div class="desc">
									<h3>Awesome Services!</h3>
									<p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_03.png' %}" alt="" class="img-responsive alignright">
									<h4>Venanda Mercy <small>- Newyork City</small></h4>
								</div>
								<div class="desc">
									<h3>Great & Talented Team!</h3>
									<p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_03.png' %}" alt="" class="img-responsive alignright">
									<h4>Venanda Mercy <small>- Newyork City</small></h4>
								</div>
								<div class="desc">
									<h3> Great & Talented Team!</h3>
									<p class="lead">The master-builder of human happiness no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
						</div><!-- end carousel -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->

		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>
						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">StyleBarber</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>
    

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script type="text/javascript"  src="{% static 'js/all.js' %}"></script>
	<script type="text/javascript"  src="{% static 'js/responsive-tabs.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script type="text/javascript"  src="{% static 'js/custom.js' %}"></script>

    <!-- Menu Toggle Script -->
<!--	<script type="text/javascript" src="lib.js"></script>-->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>
	<script>
		$("#id_email").keyup(function(){
			   var email=$(this).val();
			   if(email!=""){
				 $.ajax({
				   url:'{% url 'check_email_exist' %}',
				   type:'POST',
				   data:{email:email}
				 })
				 .done(function(response){
				   console.log(response);
				   if(response=="True"){
					 $(".email_error").remove();
					 $("<span class='email_error' style='padding: 5px;color: #dc3545;font-weight: bold;font-size:18px;'>Email is already registered!</span>").insertAfter("#id_email");
				   }
				   else{
					 $(".email_error").remove();
				   }
				 })
				 .fail(function(){
				   console.log("failed");
				 })
			   }
			   else{
				 $(".email_error").remove();
			   }
		});

		$("#id_username").keyup(function(){
			   var username=$(this).val();
			   if(username!=""){
				 $.ajax({
				   url:'{% url 'check_username_exist' %}',
				   type:'POST',
				   data:{username:username}
				 })
				 .done(function(response){
				   console.log(response);
				   if(response=="True"){
					 $(".username_error").remove();

					 $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Not Available</span>").insertAfter("#id_username");
				   }
				   else{
					 $(".username_error").remove();
					 $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Is Available</span>").insertAfter("#id_username");
				   }
				 })
				 .fail(function(){
				   console.log("failed");
				 })
			   }
			   else{
				 $(".username_error").remove();
			   }
		});

	</script>
</body>
</html>