{% load static %}

<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Site Metas -->
    <title>StyleBarber</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">


    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!--    &lt;!&ndash; Custom CSS &ndash;&gt;-->


    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">

	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">

	<link rel="stylesheet" href="{% static 'css/loading.css' %}">

	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->


	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/index">
					<img src="{% static 'images/logo.png' %}" alt="" >
				</a>

			</div>
		</nav>
	</header>
	<!-- End header -->

	<div class="wtspmsg">
					<div class="slider-01">

					</div>
					<div class="slider-02">
						<center><h3><strong><font color="#04d9ff"><br>An email has been sent to your mail</font></strong><br></h3></center>
						<center><h3><strong><font color="#04d9ff"> To interact with our<font color="25D366"> Whatsapp Bot</font>
							<br><br> Send a whatsapp message to +1 415-523-8886 <h2><font color="#04d9ff"><b>CODE:</b>  'join area-zero' </font></h2></font></strong></h3></center>
						<form action="/whatsapp/" id ="wfrm" method="post">
                            {% csrf_token %}
                           <center><input type="submit" value="Send" class="btn btn-light btn-radius btn-brd grd1"></center>
                        </form>
					</div>

	</div>




		<br><br>
		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>

						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">StyleBarber</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/responsive-tabs.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>